//- MIXIN :: START

include ./_mixin/_title
include ./_mixin/_subtitle
include ./_mixin/_btn
include ./_mixin/_svg-icon
include ./_mixin/_picture
include ./_mixin/_logotype
include ./_mixin/_hamburger
include ./_mixin/_swiper
include ./_mixin/_modal
include ./_mixin/_nav
include ./_mixin/_form

mixin mainInnerSection(classMod, title)
	section#inner-main.inner-main(class!= "inner-main--" + classMod)

		.c-grid-fluid

			.inner-main__wrapper

				.inner-main__title-wrapper
					p.inner-main__title.c-title!= title
					.inner-main__title-line

//- MIXIN :: END
