// COMMON :: START

.social {
	display: flex;
	flex-direction: column;

	&__link {
		display: flex;
		align-items: center;

		.icon-font {
			margin-right: 10px;
			font-size: 16px;
			color: #fff;
		}

		span {
			font-family: 'Quicksand', sans-serif;
			font-size: 16px;
			line-height: 36px;
			color: #fff;
		}
	}
}

.copyright {
	&__text {
		font-weight: bold;
		font-size: 12px;
		line-height: 63px;
		color: #fff;
		@include adaptive(767) {
			line-height: 1.8;
			text-align: center;
		}
	}
}

.inner-main {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&.inner-main--product {
		background-image: url('../img/img-product-main-bg@2x.jpg');
	}
	&.inner-main--solutions {
		background-image: url('../img/img-solution-main-bg@2x.jpg');
	}
	&.inner-main--support {
		background-image: url('../img/img-support-main-bg@2x.jpg');
	}
	&.inner-main--company {
		background-image: url('../img/img-company-main-bg@2x.jpg');
	}
	&.inner-main--terms {
		background-image: url('../img/img-terms-main-bg@2x.jpg');
	}
	&.inner-main--privacy {
		background-image: url('../img/img-privacy-main-bg@2x.jpg');
	}
	&.inner-main--contacts {
		background-image: url('../img/img-contacts-main-bg@2x.jpg');
	}
	&.inner-main--partners {
		background-image: url('../img/img-partners-main-bg@2x.jpg');
	}

	&:before {
		content: '';
		z-index: 1;
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(45deg, rgba(205,157,171,1) 0%,rgba(120,161,147,1) 26%,rgba(125,182,210,1) 68%,rgba(103,79,86,1) 100%);
	}

	&:after {
		content: '';
		z-index: 2;
		opacity: 0.35;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #040404;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 380px;
		@include adaptive(1279) {
			height: 350px;
		}
		@include adaptive(767) {
			height: 300px;
		}
	}

	&__title {
		padding-bottom: 10px;

		&.c-title {
			color: #ffffff;
		}

		&-wrapper {
			z-index: 10;
			position: relative;
			padding: 35px 45px;
			border: 3px solid #fff;
			@include adaptive(1279) {
				padding: 25px 35px;
			}
			@include adaptive(767) {
				padding: 20px 40px;
			}
		}

		&-line {
			width: 85px;
			height: 6px;
			background-color: #9ec7db;
		}
	}
}

// COMMON :: END
