// SECTION :: START

section#pp-about.pp-about
	.c-grid

		.pp-about__desc-wrapper
			p.pp-about__desc This Privacy Policy (“Policy”) describes the manner in which Claym Media & Tech Private Limited ., (“Claym”, “Odyssey”, “we,” or “us”) our website at www.odyssey.zone (the “Site”), and our mobile Application, as well as all related websites, networks, applications, and other services provided by us and on which a link to this Policy is displayed (collectively, together with the Site, and the mobile Application our “Service”), gather information from you on the Service, how we use and disclose such information, and the steps we take to protect such information. This policy does not apply to:• personal data you provide on a third-party site or platform, or • information that cannot reasonably identify you (anonymous data and aggregate data)
			p.pp-about__subtitle Information we Collect User-provided Information
			p.pp-about__desc When you use the Service, we may collect information about you, including your name, first name and last name, email address, mailing address, mobile phone number, phone number, your date of birth, geographic area, or preferences, and we may link this information with other information about you. You may provide us with information in various ways on the Service. For example, you provide us with information when you register for an account, request for a demo, your employer registers to use the service on your devices, use the service, send us customer service-related requests, or through cookies.


// SECTION :: END
