// SECTION :: START

section#try.try
	.c-grid

		p.try__desc Please call us or enter your information, and we’ll be in touch with you shortly

		.try__wrapper
			.try__wrapper-left

				.try__text-content
					p.try__text There’s no charge to start the Odyssey journey. You’ll be up  and running in a matter of minutes, and we have a dedicated  evaluation support team ready to help you at every step of the  way.
					p.try__text Write to us & together, we will tailor a solution for your needs

				.try__info
					//div
					//	p.try__info-title Contact Number:
					//	a(href="#") XXXXXXXXXX
					div
						p.try__info-title Email:
						a(href="#") hello@odyssey.zone

			.try__wrapper-right

				form.try__form(action='media/mail.php' method='' name='contactForm' id='contactForm' autocomplete='off')
					.try__form-field.try__form-field--input
						label(for='form-name') Your Name
						input(type='text' name='name' id='form-name' required)
					.try__form-field.try__form-field--input
						label(for='form-phone') Your Phone
						input(type='text' name='phone' id='form-phone' required)
					.try__form-field.try__form-field--input
						label(for='form-email') Your Email
						input(type='email' name='email' id='form-email' required)
					.try__form-field.try__form-field--input
						label(for='form-message') Your Message
						textarea(name='message' id='form-message' required)
					.try__form-field.try__form-field--btn
						.c-btn__wrapper
							button.c-btn(type='submit')
								span get in touch

					.try__form-loader
						#bowlG
							#bowl_ringG
								.ball_holderG
									.ballG

					.try__form-message
						p Your application has been sent successfully. We will contact you for confirmation shortly.

// SECTION :: END
