@charset "UTF-8";
/* line 14, src/scss/_utilities/_extend.scss */
.main__slide-img img, .see video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@font-face {
  font-family: "iconFont";
  src: url("../fonts/iconFont.eot");
  src: url("../fonts/iconFont.eot?#iefix") format("eot"), url("../fonts/iconFont.woff2") format("woff2"), url("../fonts/iconFont.woff") format("woff"), url("../fonts/iconFont.ttf") format("truetype"), url("../fonts/iconFont.svg#iconFont") format("svg");
}

/* line 23, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before, .icon-pause:before, .icon-play:before, .icon-quotes:before, .icon-twitter:before {
  font-family: "iconFont", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-linkedin:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-pause:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-play:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-quotes:before {
  content: "";
}

/* line 50, src/scss/_generated/_spriteFont.scss */
.icon-twitter:before {
  content: "";
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 6, src/scss/_shared/_main-setting-reset.scss */
html.is-hideScroll,
body.is-hideScroll {
  width: 100%;
  overflow: hidden !important;
}

/* line 13, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 19, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 45, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 52, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 55, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 62, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 96, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 101, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 109, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 120, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 125, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 132, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 136, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1285px;
}

/* line 26, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

/* line 3, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 7, src/scss/_shared/_common.scss */
.social__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 11, src/scss/_shared/_common.scss */
.social__link .icon-font {
  margin-right: 10px;
  font-size: 16px;
  color: #fff;
}

/* line 17, src/scss/_shared/_common.scss */
.social__link span {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
}

/* line 27, src/scss/_shared/_common.scss */
.copyright__text {
  font-weight: bold;
  font-size: 12px;
  line-height: 63px;
  color: #fff;
}

/* line 1, src/scss/_shared/_iconFont.scss */
.icon-font {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
}

/* line 4, src/scss/_macros/_logotype.scss */
.logo__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 150px;
}

/* line 9, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  font-size: 36px;
  letter-spacing: 0.04em;
  color: #040404;
  text-align: center;
}

/* line 10, src/scss/_macros/_btn.scss */
.c-btn {
  outline: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #d9d9d9;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 28, src/scss/_macros/_btn.scss */
.c-btn:after {
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  position: absolute;
  width: 0;
  height: 100%;
  top: 50%;
  left: 50%;
  background: #cccccc;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* line 43, src/scss/_macros/_btn.scss */
.c-btn:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 48, src/scss/_macros/_btn.scss */
.c-btn:hover:after {
  opacity: 1;
  visibility: visible;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* line 56, src/scss/_macros/_btn.scss */
.c-btn__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 60, src/scss/_macros/_btn.scss */
.c-btn span {
  z-index: 2;
  position: relative;
  text-transform: capitalize;
  color: #040404;
  font-size: 17px;
}

/* line 3, src/scss/_components/common/_header.scss */
.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3b3b3b;
}

/* line 11, src/scss/_components/common/_header.scss */
.header__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

/* line 17, src/scss/_components/common/_header.scss */
.header__wrapper-left, .header__wrapper-right {
  width: 200px;
}

/* line 24, src/scss/_components/common/_header.scss */
.header__wrapper-middle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 32, src/scss/_components/common/_header.scss */
.header__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 38, src/scss/_components/common/_header.scss */
.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 42, src/scss/_components/common/_header.scss */
.header__nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 48, src/scss/_components/common/_header.scss */
.header__nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 35px;
  font-size: 18px;
  letter-spacing: 0.04em;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 59, src/scss/_components/common/_header.scss */
.header__nav-link:hover {
  color: #d9d9d9;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 63, src/scss/_components/common/_header.scss */
.header__nav-link:hover:before, .header__nav-link:hover:after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 72, src/scss/_components/common/_header.scss */
.header__nav-link:before, .header__nav-link:after {
  content: '';
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 85, src/scss/_components/common/_header.scss */
.header__nav-link:before {
  top: 0;
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
}

/* line 90, src/scss/_components/common/_header.scss */
.header__nav-link:after {
  bottom: 0;
  -webkit-transform: translateY(7px);
      -ms-transform: translateY(7px);
          transform: translateY(7px);
}

/* line 4, src/scss/_components/common/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 7, src/scss/_components/common/_footer.scss */
.footer__wrapper-1 {
  background-color: #3b3b3b;
  -webkit-box-shadow: 0px -10px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -10px 6px rgba(0, 0, 0, 0.1);
}

/* line 12, src/scss/_components/common/_footer.scss */
.footer__wrapper-2 {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 53px;
  background-color: #707070;
}

/* line 19, src/scss/_components/common/_footer.scss */
.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  min-height: 192px;
}

/* line 27, src/scss/_components/common/_footer.scss */
.footer__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 32, src/scss/_components/common/_footer.scss */
.footer__col-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 36, src/scss/_components/common/_footer.scss */
.footer__col-2 > div {
  width: 100%;
  max-width: 200px;
}

/* line 43, src/scss/_components/common/_footer.scss */
.footer__title {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
}

/* line 50, src/scss/_components/common/_footer.scss */
.footer ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 54, src/scss/_components/common/_footer.scss */
.footer ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 57, src/scss/_components/common/_footer.scss */
.footer ul li a {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 36px;
  color: #fff;
}

/* line 3, src/scss/_components/homepage/_main.scss */
.main {
  position: relative;
}

/* line 6, src/scss/_components/homepage/_main.scss */
.main__slide {
  height: 100%;
  position: relative;
  padding-bottom: 75px;
}

/* line 11, src/scss/_components/homepage/_main.scss */
.main__slide-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 18, src/scss/_components/homepage/_main.scss */
.main__slide-img:before {
  content: '';
  z-index: 1;
  opacity: 0.69;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cd9dab), color-stop(26.21%, #78a193), color-stop(68.6%, #7db6d2), to(#674f56));
  background-image: -webkit-linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
  background-image: -o-linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
  background-image: linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
}

/* line 30, src/scss/_components/homepage/_main.scss */
.main__slide-img:after {
  content: '';
  z-index: 2;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040404;
}

/* line 42, src/scss/_components/homepage/_main.scss */
.main__slide-img img {
  z-index: 0;
}

/* line 48, src/scss/_components/homepage/_main.scss */
.main__slide-content {
  z-index: 5;
  position: relative;
  width: 100%;
  max-width: 692px;
  padding-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

/* line 58, src/scss/_components/homepage/_main.scss */
.main__slide-title {
  padding-bottom: 24px;
  text-align: center;
  font-size: 40px;
  letter-spacing: 0.04em;
  color: #fff;
}

/* line 65, src/scss/_components/homepage/_main.scss */
.main__slide-title--hidden {
  opacity: 0;
  visibility: hidden;
}

/* line 71, src/scss/_components/homepage/_main.scss */
.main__slide-desc {
  min-height: 180px;
  padding-bottom: 41px;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  letter-spacing: 0.03em;
  line-height: 35px;
  color: #fff;
  text-align: center;
}

/* line 82, src/scss/_components/homepage/_main.scss */
.main__slide-btn {
  outline: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: 2px solid #cecdcd;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 98, src/scss/_components/homepage/_main.scss */
.main__slide-btn:after {
  content: '';
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 0;
  height: 100%;
  background: #cccccc;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* line 113, src/scss/_components/homepage/_main.scss */
.main__slide-btn:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

/* line 118, src/scss/_components/homepage/_main.scss */
.main__slide-btn:hover:after {
  opacity: 1;
  visibility: visible;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, width 0.3s ease-in-out;
}

/* line 125, src/scss/_components/homepage/_main.scss */
.main__slide-btn:hover span {
  color: #040404;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 131, src/scss/_components/homepage/_main.scss */
.main__slide-btn span {
  z-index: 2;
  position: relative;
  font-size: 18px;
  text-align: center;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 143, src/scss/_components/homepage/_main.scss */
.main .swiper-container {
  height: 510px;
}

/* line 147, src/scss/_components/homepage/_main.scss */
.main .swiper-pagination {
  z-index: 10;
  bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 154, src/scss/_components/homepage/_main.scss */
.main .swiper-pagination-bullet {
  outline: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: 11px !important;
  margin-right: 11px !important;
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 163, src/scss/_components/homepage/_main.scss */
.main .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* line 3, src/scss/_components/homepage/_problem.scss */
.problem {
  padding-top: 55px;
  padding-bottom: 120px;
}

/* line 7, src/scss/_components/homepage/_problem.scss */
.problem__title {
  padding-bottom: 80px;
}

/* line 11, src/scss/_components/homepage/_problem.scss */
.problem__box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 310px;
  min-height: 170px;
  padding: 20px 15px;
}

/* line 21, src/scss/_components/homepage/_problem.scss */
.problem__box .icon-font {
  position: absolute;
  color: #646464;
  font-size: 28px;
}

/* line 26, src/scss/_components/homepage/_problem.scss */
.problem__box .icon-font:nth-of-type(1) {
  top: -24px;
  left: -12px;
}

/* line 30, src/scss/_components/homepage/_problem.scss */
.problem__box .icon-font:nth-of-type(2) {
  bottom: -24px;
  right: -12px;
}

/* line 36, src/scss/_components/homepage/_problem.scss */
.problem__box p {
  z-index: 5;
  position: relative;
  font-family: 'Quicksand', sans-serif;
  font-size: 21px;
  text-align: center;
  color: #040404;
}

/* line 45, src/scss/_components/homepage/_problem.scss */
.problem__box:before, .problem__box:after {
  content: '';
  position: absolute;
  border: 1px solid #707070;
}

/* line 52, src/scss/_components/homepage/_problem.scss */
.problem__box:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 59, src/scss/_components/homepage/_problem.scss */
.problem__box:after {
  top: 5px;
  left: 4px;
  width: -webkit-calc(100% - 8px);
  width: calc(100% - 8px);
  height: -webkit-calc(100% - 10px);
  height: calc(100% - 10px);
}

/* line 66, src/scss/_components/homepage/_problem.scss */
.problem__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 71, src/scss/_components/homepage/_problem.scss */
.problem__box-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 74, src/scss/_components/homepage/_problem.scss */
.problem__box-col-1, .problem__box-col-2, .problem__box-col-3 {
  width: -webkit-calc(100% / 3);
  width: calc(100% / 3);
  padding-bottom: 50px;
}

/* line 81, src/scss/_components/homepage/_problem.scss */
.problem__box-col-2 {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 85, src/scss/_components/homepage/_problem.scss */
.problem__box-col-3 {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 89, src/scss/_components/homepage/_problem.scss */
.problem__box-col-4, .problem__box-col-5 {
  width: 50%;
  padding-top: 50px;
}

/* line 95, src/scss/_components/homepage/_problem.scss */
.problem__box-col-4 {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 100px;
}

/* line 100, src/scss/_components/homepage/_problem.scss */
.problem__box-col-5 {
  padding-left: 100px;
}

/* line 3, src/scss/_components/homepage/_see.scss */
.see {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #d9d9d9;
}

/* line 8, src/scss/_components/homepage/_see.scss */
.see__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 420px;
}

/* line 13, src/scss/_components/homepage/_see.scss */
.see__wrapper-left, .see__wrapper-right {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
}

/* line 20, src/scss/_components/homepage/_see.scss */
.see__wrapper-left {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 88px;
}

/* line 27, src/scss/_components/homepage/_see.scss */
.see__wrapper-right {
  position: relative;
}

/* line 31, src/scss/_components/homepage/_see.scss */
.see__wrapper-right.is-play:before, .see__wrapper-right.is-play:after {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* line 39, src/scss/_components/homepage/_see.scss */
.see__wrapper-right.is-play .see__play .icon-font {
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 42, src/scss/_components/homepage/_see.scss */
.see__wrapper-right.is-play .see__play .icon-font.icon-play {
  opacity: 0;
  visibility: hidden;
}

/* line 46, src/scss/_components/homepage/_see.scss */
.see__wrapper-right.is-play .see__play .icon-font.icon-pause {
  opacity: 1;
  visibility: visible;
}

/* line 54, src/scss/_components/homepage/_see.scss */
.see__wrapper-right:before, .see__wrapper-right:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* line 64, src/scss/_components/homepage/_see.scss */
.see__wrapper-right:before {
  content: '';
  z-index: 1;
  opacity: 0.69;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cd9dab), color-stop(26.21%, #78a193), color-stop(68.6%, #7db6d2), to(#674f56));
  background-image: -webkit-linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
  background-image: -o-linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
  background-image: linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
}

/* line 71, src/scss/_components/homepage/_see.scss */
.see__wrapper-right:after {
  content: '';
  z-index: 2;
  opacity: 0.35;
  background-color: #040404;
}

/* line 80, src/scss/_components/homepage/_see.scss */
.see__content {
  width: 100%;
  max-width: 392px;
}

/* line 85, src/scss/_components/homepage/_see.scss */
.see__title {
  width: 100%;
  max-width: 353px;
  padding-bottom: 60px;
  text-align: left;
}

/* line 92, src/scss/_components/homepage/_see.scss */
.see__line {
  position: absolute;
}

/* line 95, src/scss/_components/homepage/_see.scss */
.see__line-1 {
  opacity: 0.49;
  top: 18px;
  left: 14px;
  width: 8px;
  height: 148px;
  background-color: #9ec7db;
}

/* line 104, src/scss/_components/homepage/_see.scss */
.see__line-2 {
  left: 14px;
  bottom: 28px;
  width: 148px;
  height: 8px;
  background-color: #cd9dab;
  opacity: 0.36;
}

/* line 116, src/scss/_components/homepage/_see.scss */
.see__btn .c-btn:nth-of-type(1) {
  margin-right: 40px;
}

/* line 122, src/scss/_components/homepage/_see.scss */
.see__play {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  -webkit-transition: border-width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 138, src/scss/_components/homepage/_see.scss */
.see__play:hover {
  border-width: 1px;
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-transition: border-width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-width 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 143, src/scss/_components/homepage/_see.scss */
.see__play:hover .icon-font {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 149, src/scss/_components/homepage/_see.scss */
.see__play .icon-font {
  position: relative;
  left: 3px;
  font-size: 28px;
  color: #ffffff;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 157, src/scss/_components/homepage/_see.scss */
.see__play .icon-font.icon-pause {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* line 3, src/scss/_components/homepage/_enterprise.scss */
.enterprise {
  padding-top: 95px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/homepage/_enterprise.scss */
.enterprise__title {
  padding-bottom: 84px;
}

/* line 11, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 725px;
  min-height: 160px;
  -webkit-border-radius: 88.5px;
          border-radius: 88.5px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #e6e6e6;
}

/* line 21, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-1 .enterprise__box-badge {
  background-color: #9EC7DB;
}

/* line 24, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-1 .enterprise__box-badge:before {
  border-bottom-color: #66ABCC;
}

/* line 30, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-2 .enterprise__box-badge {
  background-color: #CD9DAB;
}

/* line 33, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-2 .enterprise__box-badge:before {
  border-bottom-color: #B48190;
}

/* line 39, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-3 .enterprise__box-badge {
  background-color: #78A193;
}

/* line 42, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-3 .enterprise__box-badge:before {
  border-bottom-color: #56776C;
}

/* line 48, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-4 .enterprise__box-badge {
  background-color: #E5AC71;
}

/* line 51, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-4 .enterprise__box-badge:before {
  border-bottom-color: #C38749;
}

/* line 57, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 60, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box > div:nth-of-type(1) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 215px;
  padding-right: 15px;
}

/* line 65, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box > div:nth-of-type(2) {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-right: 50px;
}

/* line 74, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 78, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 53px;
}

/* line 82, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-wrapper > div:nth-of-type(even) {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 88, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-badge {
  position: relative;
  top: -13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 135px;
  height: 75px;
  -webkit-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
  background-color: #ffffff;
}

/* line 99, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-badge:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 0;
  left: -26px;
  width: 0;
  height: 0;
  border-bottom: 26px solid red;
  border-left: 26px solid transparent;
}

/* line 111, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box-badge span {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 72px;
  color: #fff;
}

/* line 119, src/scss/_components/homepage/_enterprise.scss */
.enterprise__box p {
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  line-height: 36px;
  color: #040404;
}

/* line 3, src/scss/_components/homepage/_trust.scss */
.trust {
  position: relative;
  background-image: url("../img/img-trust-bg@2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 10, src/scss/_components/homepage/_trust.scss */
.trust:before {
  content: '';
  z-index: 1;
  opacity: 0.69;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cd9dab), color-stop(26.21%, #78a193), color-stop(68.6%, #7db6d2), to(#674f56));
  background-image: -webkit-linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
  background-image: -o-linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
  background-image: linear-gradient(#cd9dab 0%, #78a193 26.21%, #7db6d2 68.6%, #674f56 100%);
}

/* line 22, src/scss/_components/homepage/_trust.scss */
.trust:after {
  content: '';
  z-index: 2;
  opacity: 0.35;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #040404;
}

/* line 34, src/scss/_components/homepage/_trust.scss */
.trust__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 270px;
}

/* line 41, src/scss/_components/homepage/_trust.scss */
.trust__title {
  z-index: 10;
  position: relative;
  color: #ffffff;
}

/* line 3, src/scss/_components/homepage/_description.scss */
.description {
  padding-top: 60px;
  padding-bottom: 30px;
}

/* line 7, src/scss/_components/homepage/_description.scss */
.description__box {
  position: relative;
  width: 100%;
  max-width: 430px;
}

/* line 14, src/scss/_components/homepage/_description.scss */
.description__box-1 .description__box-head:before,
.description__box-1 .description__box-head > div {
  background-color: #9EC7DB;
}

/* line 22, src/scss/_components/homepage/_description.scss */
.description__box-2 .description__box-head:before,
.description__box-2 .description__box-head > div {
  background-color: #78A193;
}

/* line 30, src/scss/_components/homepage/_description.scss */
.description__box-3 .description__box-head:before,
.description__box-3 .description__box-head > div {
  background-color: #CD9DAB;
}

/* line 38, src/scss/_components/homepage/_description.scss */
.description__box-4 .description__box-head:before,
.description__box-4 .description__box-head > div {
  background-color: #C38749;
}

/* line 45, src/scss/_components/homepage/_description.scss */
.description__box:before {
  content: '';
  z-index: 0;
  position: absolute;
  top: 30px;
  left: -30px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* line 57, src/scss/_components/homepage/_description.scss */
.description__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* line 65, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div {
  width: 50%;
  padding-bottom: 35px;
}

/* line 69, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div:nth-of-type(2), .description__box-wrapper > div:nth-of-type(4) {
  padding-top: 50px;
}

/* line 74, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div:nth-of-type(1) {
  padding-right: 80px;
}

/* line 78, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div:nth-of-type(2) {
  padding-left: 35px;
}

/* line 82, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div:nth-of-type(3) {
  padding-right: 80px;
  padding-left: 40px;
}

/* line 87, src/scss/_components/homepage/_description.scss */
.description__box-wrapper > div:nth-of-type(4) {
  padding-left: 75px;
}

/* line 93, src/scss/_components/homepage/_description.scss */
.description__box-content {
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 335px;
  -webkit-border-radius: 11px;
          border-radius: 11px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* line 107, src/scss/_components/homepage/_description.scss */
.description__box-head {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 75px;
  -webkit-box-shadow: 0 1.67px 1.67px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.67px 1.67px rgba(0, 0, 0, 0.3);
}

/* line 115, src/scss/_components/homepage/_description.scss */
.description__box-head:before {
  content: '';
  position: absolute;
  bottom: -13px;
  right: 30px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 1.67px 1.67px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1.67px 1.67px rgba(0, 0, 0, 0.3);
}

/* line 126, src/scss/_components/homepage/_description.scss */
.description__box-head > div {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 11px 11px 0 0;
          border-radius: 11px 11px 0 0;
}

/* line 134, src/scss/_components/homepage/_description.scss */
.description__box-head p {
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 72px;
  text-align: center;
  color: #fff;
}

/* line 143, src/scss/_components/homepage/_description.scss */
.description__box-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 1px;
  max-height: 100%;
  padding: 30px;
}

/* line 151, src/scss/_components/homepage/_description.scss */
.description__box-body ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 155, src/scss/_components/homepage/_description.scss */
.description__box-body ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  font-size: 17px;
  line-height: 35px;
  color: #000;
}

/* line 3, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem {
  background-color: rgba(195, 135, 73, 0.07);
  border: 1px solid rgba(210, 210, 210, 0.07);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

/* line 8, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__wrapper {
  min-height: 395px;
  padding-top: 65px;
  padding-bottom: 65px;
}

/* line 14, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__title {
  text-align: left;
  padding-bottom: 28px;
}

/* line 19, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  height: 8px;
  background-color: #9ec7db;
  margin-bottom: 60px;
}

/* line 27, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 32, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__img-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
}

/* line 38, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__img-wrapper > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: -webkit-calc(100% / 4);
  max-width: calc(100% / 4);
}

/* line 43, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__img-wrapper > div:nth-of-type(2), .ecosystem__img-wrapper > div:nth-of-type(3) {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 48, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__img-wrapper > div:last-of-type {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* line 54, src/scss/_components/homepage/_ecosystem.scss */
.ecosystem__img a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 3, src/scss/_components/homepage/_try.scss */
.try {
  padding-top: 83px;
  padding-bottom: 107px;
}

/* line 7, src/scss/_components/homepage/_try.scss */
.try__title {
  padding-bottom: 18px;
}

/* line 10, src/scss/_components/homepage/_try.scss */
.try__title-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 15, src/scss/_components/homepage/_try.scss */
.try__title-wrapper > div {
  margin-left: auto;
  margin-right: auto;
}

/* line 22, src/scss/_components/homepage/_try.scss */
.try__line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 148px;
  height: 8px;
  background-color: #9ec7db;
  margin-bottom: 45px;
}

/* line 30, src/scss/_components/homepage/_try.scss */
.try__desc {
  padding-bottom: 78px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.17em;
  line-height: 92px;
  color: #030303;
  text-align: center;
}

/* line 41, src/scss/_components/homepage/_try.scss */
.try__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 44, src/scss/_components/homepage/_try.scss */
.try__wrapper-left {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
  padding-top: 24px;
  padding-right: 60px;
}

/* line 52, src/scss/_components/homepage/_try.scss */
.try__wrapper-right {
  width: 100%;
  max-width: 500px;
}

/* line 58, src/scss/_components/homepage/_try.scss */
.try__text {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  letter-spacing: 0.06em;
  line-height: 40px;
  color: #040404;
}

/* line 65, src/scss/_components/homepage/_try.scss */
.try__text:not(:last-of-type) {
  padding-bottom: 30px;
}

/* line 69, src/scss/_components/homepage/_try.scss */
.try__text-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 60px;
}

/* line 76, src/scss/_components/homepage/_try.scss */
.try__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 80, src/scss/_components/homepage/_try.scss */
.try__info-title {
  padding-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #040404;
}

/* line 87, src/scss/_components/homepage/_try.scss */
.try__info a {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #040404;
}

/* line 94, src/scss/_components/homepage/_try.scss */
.try__form {
  width: 100%;
  max-width: 517px;
  min-height: 481px;
  padding: 30px 35px 45px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  border: 1px solid #707070;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

/* line 104, src/scss/_components/homepage/_try.scss */
.try__form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

/* line 109, src/scss/_components/homepage/_try.scss */
.try__form-field--btn {
  padding-top: 28px;
}

/* line 114, src/scss/_components/homepage/_try.scss */
.try__form label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  line-height: 1;
  color: #030303;
}

/* line 123, src/scss/_components/homepage/_try.scss */
.try__form input {
  outline: none;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: 1px solid #707070;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #030303;
}

/*# sourceMappingURL=maps/app.css.map */
