// SECTION :: START

section#partners.partners
	.c-grid
		.partners__wrapper

			p.partners__title.c-title Be a part of the Odyssey Partner Ecosystem!
			p.partners__desc Our technology and channel partners help make your project a success. Our partners offer you comprehensive services and solutions tailored to your needs along with local last mile support and presence.
			p.partners__desc The Odyssey Partner Ecosystem connects our customers with experts for consulting, development, implementation and integration of Odyssey based solutions. Your project success is our priority.

			.partners__box-wrapper
				div
					.partners__box.partners__box-1
						.partners__box-head
							img(src="img/img-google.png" srcset="img/img-google@2x.png 2x" alt="")
						.partners__box-body
							p Technology Partner
				div
					.partners__box.partners__box-2
						.partners__box-head
							img(src="img/img-samsungKnox.png" srcset="img/img-samsungKnox@2x.png 2x" alt="")
						.partners__box-body
							p Technology Partner
				div
					.partners__box.partners__box-3
						.partners__box-head
							img(src="img/img-eastcompeace-india.png" srcset="img/img-eastcompeace-india@2x.png 2x" alt="")
						.partners__box-body
							p Channel Partner

// SECTION :: END
