// SECTION :: START

section#sp-about.sp-about
	.c-grid

		.sp-about__wrapper.sp-about__wrapper-1
			p.sp-about__desc.sp-about__desc--pb0 Here you can find Frequently Asked Questions around Odyssey solution. In case you did not find the information you needed or have any additional questions, please let us know.

		.sp-about__wrapper.sp-about__wrapper-2

			.sp-about__title.sp-about__title--1
				.sp-about__title-visual
					span
					span
				p General

			p.sp-about__subtitle Who is Odyssey for Enterprise intended for?
			p.sp-about__desc Odyssey is focused on organizations that need to manage a significant number of  mobile devices. Odyssey addresses the challenge of using those devices in a secure, controlled, user-friendly and productive way,while mitigating security risks and allowing IT department to stay in control while also helping enterprises to benefit from different BYOD (Bring Your Own Device) scenarios. We support both an “on-premise” MDM solution without any needfor cloud-services as well as a fully cloud based solution.

			p.sp-about__subtitle What are the benefits of a mobile device user?
			p.sp-about__desc Users are able to access enterprise resources and data through automated over-the-air device enrolment and profile management. User devices are protected via remote device lock and wipe functionalities. Bring Your Own Device (BYOD) scenarios with separation of private and business information based on multiple profiles are enabled.

			p.sp-about__subtitle How will the IT department benefit from Odyssey?
			p.sp-about__desc.sp-about__desc--pb0 IT department stays in control and devices are managed & controlled like any other IT resource. Odyssey provides automated device management with over-the-air device configuration for key IT resources (Wifi, VPN, E-mail, etc.) and more (roaming settings, phone & device info, etc.).


		.sp-about__wrapper.sp-about__wrapper-3

			.sp-about__title.sp-about__title--2
				.sp-about__title-visual
					span
					span
				p Licensing

			p.sp-about__subtitle I have users that use multiple devices. How many Odyssey licenses I need?
			p.sp-about__desc In our most commonly used licensing model Device License is needed for every device connected to Odyssey, regardless of who uses it. However other licensing models are also available per request.

			p.sp-about__subtitle Can the Odyssey Device License and Maintenance Option be transferred from one mobile device to another?
			p.sp-about__desc No – Odyssey Device License can not be transferred to another device if the initial device has been decommissioned and will no longer be used in the organization.

			p.sp-about__subtitle How often you need to buy an Odyssey license?
			p.sp-about__desc Odyssey Device License is a license that is billed annually and upfront.

			p.sp-about__subtitle How can I upgrade to a new version of Odyssey?
			p.sp-about__desc You will get all the latest upgrades automatically if you are on the Cloud version of Odyssey. For the on-premise version, our support team will work with your IT teams to plan upgrades.

			p.sp-about__subtitle I purchased the Odyssey License and now need to support for next version of device that was just launched?
			p.sp-about__desc.sp-about__desc--pb0 You will get all the latest upgrades automatically if you are on the Cloud version of Odyssey.

		.sp-about__wrapper.sp-about__wrapper-4

			.sp-about__title.sp-about__title--3
				.sp-about__title-visual
					span
					span
				p Technical

			p.sp-about__subtitle What Mobile Device platforms does the current Odyssey version support?
			p.sp-about__desc We fully support the Android platform. Odyssey needs to be installed on a mobile device. Odyssey supports Android version 8.0 and higher.

			p.sp-about__subtitle Does the IT department need to initially set-up the device, enroll it into Odyssey and install initial certificates?
			p.sp-about__desc.sp-about__desc--pb0 No – various methods for easy and automated over-the-air device enrollment into the Odyssey system are being used. Initial device enrolment can be done by device user, with no need for support from the IT department.

		.sp-about__wrapper.sp-about__wrapper-5

			.sp-about__title.sp-about__title--4
				.sp-about__title-visual
					span
					span
				p Partners

			p.sp-about__subtitle In the Odyssey Enterprise Partner Programs, who sends the invoice for Odyssey to the end customer?
			p.sp-about__desc In case Odyssey is sold through an Enterprise Partner Program, the partner will send the invoice to the end customer.

			p.sp-about__subtitle If Odyssey is purchased through a partner, who is responsible for providing the Odyssey services required for implementing the solution?
			p.sp-about__desc Odyssey services are typically delivered by the Odyssey Services team, regardless if the solution was purchased directly or via a partner.

			p.sp-about__subtitle How is the partner compensated for the reselling service it provides?
			p.sp-about__desc.sp-about__desc--pb0 Partners receive a sales commission for every successfully concluded sale of Odyssey. The commission is based on a fixed percentage of total product value that was sold.


// SECTION :: END
