---
title: Odyssey | Solution

pageClassName: p-solutions
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/solutions/_main
		include components/solutions/_about
