---
title: Odyssey | Terms Of Service

pageClassName: p-terms
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		+mainInnerSection('terms', 'Terms Of Service')
		include components/terms/_about
