// FOOTER :: START

footer#footer.footer

	.footer__wrapper.footer__wrapper-1
		.c-grid

			.footer__row
				.footer__col.footer__col-1

					.logo.logo--footer
						a.logo__btn(href="/")
							img.logo__img(src="img/logo.svg" alt="")

				.footer__col.footer__col-2

					div
						p.footer__title Social Media:
						.social
							a.social__link(href="#")
								i.icon-font.icon-linkedin
								span Linkedin
							a.social__link(href="#")
								i.icon-font.icon-twitter
								span Twitter
					div
						ul
							li
								a(href="/product.html") Product
							li
								a(href="/solutions.html") Solutions
							li
								a(href="/support.html") Support
					div
						ul
							li
								a(href="/company.html") Company
							li
								a(href="/privacy.html") Privacy Policy
							li
								a(href="/terms.html") Terms of Service

	.footer__wrapper.footer__wrapper-2
		.c-grid

			.copyright
				p.copyright__text Odyssey is a brand name of Claym Media & Technologies. Copyrights 2014-2020

// FOOTER :: END
