// HEADER :: START

header#header.header

	.c-grid-fluid

		.header__wrapper
			.header__wrapper-left

				.logo.logo--header
					a.logo__btn(href="#")
						img.logo__img(src="img/logo.svg" alt="")

			.header__wrapper-middle

				ul.header__nav
					li.header__nav-item
						a.header__nav-link(href="#") Product
					li.header__nav-item
						a.header__nav-link(href="#") Solutions
					li.header__nav-item
						a.header__nav-link(href="#") Partners
					li.header__nav-item
						a.header__nav-link(href="#") Company
					li.header__nav-item
						a.header__nav-link(href="#") Contact us

			.header__wrapper-right

				.c-btn__wrapper
					a.c-btn(href="#")
						span Book a demo



// HEADER :: END
