// SECTION :: START

section#s-about.s-about
	.c-grid
		.s-about__wrapper.s-about__wrapper-1

			.s-about__title-wrapper.s-about__title--left.s-about__title--1
				.s-about__title-visual
					span
					span
					span
					span
					span
				.s-about__title-content
					p.s-about__title Bring Your Own Device (BYOD)

			.s-about__text-wrapper
				p.s-about__text Bring Your Own Device (BYOD) allows employees and contract workers to use their personal devices for accessing corporate data, workflows and apps.
				p.s-about__text Modern enterprises are adopting BYOD programs to increase productivity by enabling employees to conveniently access approved enterprise applications on their own mobile devices, while keeping corporate data protection at the forefront.
				p.s-about__text Odyssey offers an easy way for companies to secure corporate data in BYOD devices while providing IT admins the necessary tools to ensure privacy controls. Once a device is enrolled for a BYOD program, a virtual work container is created on the device to allow seamless workflow without interfering with the employee’s personal content.

		.s-about__wrapper.s-about__wrapper-2

			.s-about__title-wrapper.s-about__title--right.s-about__title--2
				.s-about__title-illustration
					span
					span
					span
				.s-about__title-content
					p.s-about__title Corporate Owned Business Use

			.s-about__text-wrapper
				p.s-about__text Corporate-owned business use is perfect for Enterprise owned devices. On such devices there is, there is no personal - work separation and the Enterprise has access to the entire device. The IT admin can manage key features such as set up corporate wallpapers, system updates, Hotspot Tethering, to name a few.
				p.s-about__text To enroll your Company Owned Business Use devices, Odyssey helps you enroll for the Android for Work program through our easy to use the self-service portal.

		.s-about__wrapper.s-about__wrapper-3

			.s-about__title-wrapper.s-about__title--left.s-about__title--3
				.s-about__title-visual
					span
					span
					span
					span
					span
				.s-about__title-content
					p.s-about__title Corporate Owned Specific Use

			.s-about__text-wrapper
				p.s-about__text Setup and manage mobile devices dedicated to a specific purpose e.g. hospitality check-in, queue management, retail displays Lockdown the device and configure any set of applications to be pinned or run in a full-screen immersive fashion.
				p.s-about__text Odyssey helps your IT admins provision and deploy a dedicated app store just for your devices and users as well as deploy in-house developed apps. Manually or autonomously push updates and keep your devices secure and smooth.

		.s-about__wrapper.s-about__wrapper-4

			.s-about__title-wrapper.s-about__title--right.s-about__title--4
				.s-about__title-illustration
					span
					span
					span
				.s-about__title-content
					p.s-about__title Kiosk Mode

			.s-about__text-wrapper
				p.s-about__text Enterprises use kiosks enabled devices or tablets for displaying information, conducting transactions, receiving orders and more. Kiosks are often at remote locations and present a case for complete and automated remote monitoring and support.
				p.s-about__text Odyssey offers an easy and efficient way to manage kiosk fleets in your enterprise. From remote deployment, software OS updates to app management, secure browsing, we offer everything that you need to equip your teams to do more.

// SECTION :: END
