// SECTION :: START

.main {
	position: relative;

	&__slide {
		height: 100%;
		position: relative;
		padding-bottom: 75px;
		@include adaptive(1279) {
			padding-bottom: 50px;
		}
		@include adaptive(767) {
			padding-bottom: 75px;
		}

		&-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			&:before {
				content: '';
				z-index: 1;
				opacity: 0.69;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(45deg, rgba(205,157,171,1) 0%,rgba(120,161,147,1) 26%,rgba(125,182,210,1) 68%,rgba(103,79,86,1) 100%);
			}

			&:after {
				content: '';
				z-index: 2;
				opacity: 0.35;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #040404;
			}

			img {
				z-index: 0;
				@extend %imageResCoverAbs;
			}
		}

		&-content {
			z-index: 5;
			position: relative;
			width: 100%;
			max-width: 692px;
			padding-top: 75px;
			margin-left: auto;
			margin-right: auto;
			@include adaptive(1279) {
				padding-top: 50px;
			}
			@include adaptive(1023) {
				padding-top: 75px;
			}
			@include adaptive(767) {
				padding-top: 50px;
			}
		}

		&-title {
			padding-bottom: 24px;
			text-align: center;
			font-size: 36px;
			letter-spacing: 0.04em;
			color: #fff;
			@extend %fontsVerdana;
			@include adaptive(1023) {
				font-size: 33px;
			}
			@include adaptive(767) {
				padding-left: 15px;
				padding-right: 15px;
				font-size: 30px;
			}

			&--hidden {
				opacity: 0;
				visibility: hidden;
			}
		}

		&-desc {
			min-height: 180px;
			padding-bottom: 41px;
			font-size: 22px;
			letter-spacing: 0.03em;
			line-height: 35px;
			color: #fff;
			text-align: center;
			@include adaptive(1279) {
				font-size: 20px;
			}
			@include adaptive(767) {
				font-size: 18px;
			}
		}

		&-btn {
			outline: none;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 210px;
			height: 45px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 4px;
			border: 2px solid #cecdcd;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
			background-color: transparent;
			@include transition(transform, box-shadow);

			&:after {
				content: '';
				opacity: 0;
				visibility: hidden;
				z-index: 0;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				width: 0;
				height: 100%;
				background: darken(#d9d9d9, 5%);
				@include transition(opacity, visibility, width);
			}

			&:hover {
				transform: translateY(-3px);
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
				@include transition(transform, box-shadow);

				&:after {
					opacity: 1;
					visibility: visible;
					width: 100%;
					@include transition(opacity, visibility, width);
				}

				span {
					color: #040404;
					@include transition(color);
				}
			}

			span {
				z-index: 2;
				position: relative;
				font-size: 18px;
				text-align: center;
				color: #fff;
				@include transition(color);
			}
		}
	}

	.swiper {
		&-container {
			height: 510px;
			@include adaptive(1279) {
				height: 475px;
			}
			@include adaptive(767) {
				height: auto;
			}
		}

		&-pagination {
			z-index: 10;
			bottom: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			@include adaptive(1023) {
				bottom: 40px;
			}
			@include adaptive(767) {
				bottom: 15px;
			}

			&-bullet {
				outline: none;
				cursor: pointer;
				width: 15px;
				height: 15px;
				margin-left: 11px !important;
				margin-right: 11px !important;
				background-color: rgba(#fff, 0.5);
				@include adaptive(767) {
					width: 12px;
					height: 12px;
					margin-left: 6px !important;
					margin-right: 6px !important;
				}

				&-active {
					background-color: #ffffff;
				}
			}
		}
	}
}

// SECTION :: END
