// SECTION :: START

.t-about {
	padding-top: 100px;
	padding-bottom: 200px;

	&__desc {
		@extend %fontsVerdana;
		font-size: 20px;
		letter-spacing: 0.03em;
		line-height: 42px;
		color: #040404;

		&:not(:last-of-type) {
			padding-bottom: 40px;
		}
	}
}

// SECTION :: END
