// BUTTON :: START

// ==================================================
$bth-height: 45px;
$bth-border-radius: 4px;
$bth-color: rgba(#040404, 1);
$bth-font-size: 17px;
// ==================================================

.c-btn {
  outline: none;
	overflow: hidden;
  cursor: pointer;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
	width: auto;
  height: $bth-height;
	padding-left: 20px;
	padding-right: 20px;
	border: none;
  border-radius: $bth-border-radius;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	background-color: #d9d9d9;
	@include transition(transform, box-shadow);

	&:after {
		content: '';
		opacity: 0;
		visibility: hidden;
		z-index: 0;
		position: absolute;
		width: 0;
		height: 100%;
		top: 50%;
		left: 50%;
		background: darken(#d9d9d9, 5%);
		transform: translate(-50%, -50%);
		@include transition(opacity, visibility, width);
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
		@include transition(transform, box-shadow);

		&:after {
			opacity: 1;
			visibility: visible;
			width: 100%;
			@include transition(opacity, visibility, width);
		}
	}

	&__wrapper {
		display: flex;
	}

	span {
		z-index: 2;
		position: relative;
		text-transform: capitalize;
		color: $bth-color;
		font-size: $bth-font-size;
	}
}

// BUTTON :: END
