// LOGOTYPE :: START

.logo {
	&__btn {
		display: flex;
		max-width: 150px;
		@include adaptive(1023) {
			max-width: 125px;
		}
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// LOGOTYPE :: END
