// SECTION :: START

section#t-about.t-about
	.c-grid

		.t-about__desc-wrapper
			p.t-about__desc The Odyssey World Wide Web site (the "Website") is a copyrighted work belonging to Claym Media Private Limited. ("Claym" or " Company"). Company grants you the right to use the Website and the features, content, or applications offered from time to time by Company in connection with the Website, including any and all Public Website Content, Private Website Content, and Forums (collectively, the " Website Services") subject to the terms and conditions set forth below.
			p.t-about__desc THIS TERMS OF SERVICE AGREEMENT ("AGREEMENT") SETS FORTH THE LEGALLY BINDING TERMS FOR YOUR USE OF THE WEBSITE SERVICES. THIS AGREEMENT IS ACCEPTED BY YOUR ACCESSING, DOWNLOADING, AND/OR USE OF THE WEBSITE SERVICES. YOU MAY NOT USE THE WEBSITE SERVICES OR ACCEPT THE AGREEMENT IF (I) YOU ARE NOT OF LEGAL AGE TO FORM A BINDING CONTRACT, OR (II) YOU ARE PROHIBITED BY LAW FROM RECEIVING OR USING THE WEBSITE SERVICES. BY ACCESSING, DOWNLOADING, OR USING THE WEBSITE SERVICES, YOU REPRESENT AND WARRANT THAT YOU HAVE THE RIGHT, AUTHORITY, AND CAPACITY TO ENTER INTO THE AGREEMENT AND TO ABIDE BY ALL OF THE TERMS AND CONDITIONS SET FORTH HEREIN. IF YOU ACCESS, DOWNLOAD, OR USE THE WEBSITE SERVICES ON BEHALF OF A COMPANY, ENTITY, OR ORGANIZATION, YOU REPRESENT AND WARRANT THAT YOU ARE AN AUTHORIZED REPRESENTATIVE OF SUCH COMPANY, ENTITY, OR ORGANIZATION WITH THE AUTHORITY TO BIND IT TO THE AGREEMENT. IF YOU DO NOT AGREE WITH ALL PROVISIONS OF THIS AGREEMENT, DO NOT ACCESS, DOWNLOAD, OR USE THE WEBSITE SERVICES.
			p.t-about__desc PLEASE REVIEW Odyssey's PRIVACY POLICY (www.odyssey.zone/privacy-policy). THE TERMS OF THE PRIVACY POLICY ARE INCORPORATED INTO, AND CONSIDERED A PART OF, THIS AGREEMENT.

// SECTION :: END
