// FOOTER :: START

.footer {
	&__wrapper {
		display: flex;

		&-1 {
			background-color: #3b3b3b;
			box-shadow: 0px -10px 6px rgba(0, 0, 0, 0.1);
		}

		&-2 {
			align-items: center;
			min-height: 53px;
			background-color: #707070;
		}
	}

	&__row {
		display: flex;
		align-items: center;
		padding-top: 25px;
		padding-bottom: 25px;
		min-height: 192px;
	}

	&__col {
		flex: 1;
		min-width: 1px;
		max-width: 100%;

		&-2 {
			display: flex;
			justify-content: flex-end;

			> div {
				width: 100%;
				max-width: 200px;
			}
		}
	}

	&__title {
		font-family: 'Quicksand', sans-serif;
		font-size: 16px;
		line-height: 36px;
		color: #fff;
	}

	ul {
		display: flex;
		flex-direction: column;

		li {
			display: flex;

			a {
				font-family: 'Quicksand', sans-serif;
				font-size: 16px;
				line-height: 36px;
				color: #fff;
			}
		}
	}
}

// FOOTER :: END
