// SECTION :: START

.pr-features {
	padding-bottom: 150px;
	@include adaptive(767) {
		padding-bottom: 75px;
	}

	&__title {
		padding-bottom: 15px;

		&-wrapper {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding-bottom: 55px;
		}

		&-line {
			width: 85px;
			height: 8px;
			background-color: #9ec7db;
		}
	}

	&__box {
		display: flex;

		&-1 {
			background-color: rgba(#CD9DAB, 0.15);
		}
		&-2 {
			background-color: rgba(#78A193, 0.15);
		}
		&-3 {
			background-color: rgba(#C38749, 0.15);
		}
		&-4 {
			background-color: rgba(#CD9DAB, 0.15);
		}
		&-5 {
			background-color: rgba(#9EC7DB, 0.15);
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
			padding-bottom: 55px;
			@include adaptive(767) {
				padding-bottom: 30px;
			}

			> div {
				padding-bottom: 25px;
			}
		}

		&-content {
			display: flex;
			align-items: center;
			min-height: 110px;
			padding-top: 10px;
			padding-bottom: 10px;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				display: flex;
				align-items: center;
				width: 100%;
				max-width: calc(100% / 3);
				@include adaptive(767) {
					max-width: 100%;

					&:not(:last-child) {
						padding-bottom: 15px;
					}
				}

				> div {
					display: flex;
					align-items: center;
				}

				&:nth-of-type(1) {
					> div {
						width: 100%;
						max-width: 377px;
					}
				}
				&:nth-of-type(2) {
					justify-content: center;
					@include adaptive(767) {
						justify-content: flex-start;
					}

					> div {
						width: 100%;
						max-width: 230px;
					}
				}
				&:nth-of-type(3) {
					justify-content: flex-end;
					@include adaptive(767) {
						justify-content: flex-start;
					}

					> div {
						width: 100%;
						max-width: 333px;
					}
				}

				p {
					width: 80px;
					@include adaptive(1023) {
						width: 60px;
					}
					@include adaptive(767) {
						display: flex;
						align-items: center;
						justify-content: center;
						height: 60px;
					}
				}

				.icon-font {
					color: #040404;

					&.icon-devices {
						font-size: 52px;
						@include adaptive(1279) {
							font-size: 50px;
						}
						@include adaptive(1023) {
							font-size: 45px;
						}
					}
					&.icon-security {
						font-size: 58px;
						@include adaptive(1279) {
							font-size: 56px;
						}
						@include adaptive(1023) {
							font-size: 51px;
						}
					}
					&.icon-warning {
						font-size: 49px;
						@include adaptive(1279) {
							font-size: 47px;
						}
						@include adaptive(1023) {
							font-size: 42px;
						}
					}
					&.icon-browser_not_supported {
						font-size: 47px;
						@include adaptive(1279) {
							font-size: 45px;
						}
						@include adaptive(1023) {
							font-size: 40px;
						}
					}
					&.icon-campaign {
						font-size: 40px;
						@include adaptive(1279) {
							font-size: 38px;
						}
						@include adaptive(1023) {
							font-size: 33px;
						}
					}
					&.icon-games {
						font-size: 52px;
						@include adaptive(1279) {
							font-size: 50px;
						}
						@include adaptive(1023) {
							font-size: 45px;
						}
					}
					&.icon-phonelink_lock {
						font-size: 57px;
						@include adaptive(1279) {
							font-size: 55px;
						}
					}
					&.icon-build {
						font-size: 52px;
						@include adaptive(1279) {
							font-size: 50px;
						}
						@include adaptive(1023) {
							font-size: 45px;
						}
					}
					&.icon-search {
						font-size: 44px;
						@include adaptive(1279) {
							font-size: 42px;
						}
						@include adaptive(1023) {
							font-size: 37px;
						}
					}
					&.icon-developer_board {
						font-size: 47px;
						@include adaptive(1279) {
							font-size: 45px;
						}
						@include adaptive(1023) {
							font-size: 40px;
						}
					}
					&.icon-construction {
						font-size: 47px;
						@include adaptive(1279) {
							font-size: 45px;
						}
						@include adaptive(1023) {
							font-size: 40px;
						}
					}
					&.icon-build_circle {
						font-size: 57px;
						@include adaptive(1279) {
							font-size: 55px;
						}
						@include adaptive(1023) {
							font-size: 50px;
						}
					}
				}

				span {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
					font-size: 21px;
					letter-spacing: 0.04em;
					color: #040404;
					text-transform: capitalize;
					@include adaptive(1279) {
						font-size: 19px;
					}
					@include adaptive(1023) {
						font-size: 16px;
					}
					@include adaptive(767) {
						padding-left: 10px;

						br {
							display: none;
						}
					}
				}
			}
		}
	}

	.c-btn {
		min-width: 220px;
		margin-left: 25px;
		margin-right: 25px;
		@include adaptive(767) {
			width: 100%;
			max-width: 425px;
			min-width: auto;
			margin-left: auto;
			margin-right: auto;

			&:nth-of-type(1) {
				margin-bottom: 30px;
			}
		}

		&__wrapper {
			justify-content: center;
			@include adaptive(767) {
				flex-direction: column;
			}
		}
	}
}

// SECTION :: END
