// SECTION :: START

section#p-about.p-about
	.c-grid

		p.p-about__title.c-title Meet the passionate people behind Odyssey.

		.p-about__wrapper
			.p-about__wrapper-left
				p.p-about__desc From our founding in 2014 till today, we have been on a journey with innovative software products that make life simpler for OEMs, Enterprises and most of all our Customers. Along the way, we’ve pioneered cloud solutions for Firmware management, Asset Tracking, IoT enablement of Enterprises while keeping our partners front and center in our journey.

			.p-about__wrapper-right

				img.p-about__img(src="img/img-product-user.jpg" srcset="img/img-product-user@2x.jpg 2x" alt="")

// SECTION :: END
