// SECTION :: START

section#pr-about.pr-about
	.c-grid
		.pr-about__wrapper.pr-about__wrapper-1

			p.pr-about__desc Odyssey helps companies give people what they want – brand new shiny devices and tools necessary to make their job done. We handle the mass deployment and security while taking into account the risks that impact the organization and its data.
			p.pr-about__desc Odyssey simplifies the deployment, configuration, and management of all smartphones and tablets in your organization. The Odyssey console is one place where you control everything: you can create profiles, enforce restrictions, set PIN, password policies, and do lots more.
			p.pr-about__desc From 1 device to ten thousand, corporate-owned or BYOD, enrolling devices is simple, quick, and automated. Odyssey can be enhanced with Connectors, SDK and API to support unlimited business use cases

			.c-btn__wrapper
				a.c-btn(href="/contacts.html")
					span Book a Demo
				a.c-btn(href="#")
					span Download DataSheet

// SECTION :: END
