// SECTION :: START

section#s-product.s-product

	.c-grid-fluid

		.s-product__wrapper

			.s-product__title-wrapper
				p.s-product__title.c-title Company
				.s-product__title-line

// SECTION :: END
