// SECTION :: START

section#description.description
	.c-grid
		.description__wrapper

			.description__box-wrapper
				div
					.description__box.description__box-1
						.description__box-content
							.description__box-head
								div
									p Secure Bring Your Own Device - BYOD
							.description__box-body
								ul
									li • Personal And Business Data Separation
									li • IT Control Only Over A Separate Specific Part
									li • Unmanaged Profile For Personal Apps
				div
					.description__box.description__box-2
						.description__box-content
							.description__box-head
								div
									p Corporate Owned Business Use
							.description__box-body
								ul
									li • Personal And Business Data Separation
									li • IT Control Only Over A Separate Specific Part
									li • Unmanaged Profile For Personal Apps
				div
					.description__box.description__box-3
						.description__box-content
							.description__box-head
								div
									p Corporate Owned Specific Use
							.description__box-body
								ul
									li • Limit the mobile device functionality to the desired list of apps and features
									li • A tablet with kiosk mode is a perfect example of use in an ed-tech or a transport-tech scenario.
									li • Block access to settings and configurations.
				div
					.description__box.description__box-4
						.description__box-content
							.description__box-head
								div
									p Kiosk Mode
							.description__box-body
								ul
									li • Device owner mode
									li • Entire device control
									li • Perfect for company devices
									li • Multiple enrollment ways

// SECTION :: END
