// SECTION :: START

section#ecosystem.ecosystem
	.c-grid

		.ecosystem__wrapper
			.ecosystem__wrapper-left
				p.ecosystem__title.c-title Partnerships make it Simple

			.ecosystem__wrapper-right

				.ecosystem__img-wrapper
					div
						a(href="#")
							img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-1@2x.png 2x" alt="")
					div
						a(href="#")
							img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-2@2x.png 2x" alt="")
					div
						a(href="#")
							img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-3@2x.png 2x" alt="")
					div
						a(href="#")
							img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-4@2x.png 2x" alt="")

// SECTION :: END
