// SECTION :: START

section#ecosystem.ecosystem
	.c-grid

		.ecosystem__wrapper
			p.ecosystem__title.c-title Odyssey brings with it an Ecosystem

			.ecosystem__line

			.ecosystem__img-wrapper
				div
					img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-1@2x.png 2x" alt="")
				div
					img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-2@2x.png 2x" alt="")
				div
					img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-3@2x.png 2x" alt="")
				div
					img.ecosystem__img(src="img/img-ecosystem-1.png" srcset="img/img-ecosystem-4@2x.png 2x" alt="")

// SECTION :: END
