// SECTION :: START

section#enterprise.enterprise
	.c-grid

		p.enterprise__title.c-title Enterprise Device Management: Smart made Simpler

		.enterprise__wrapper

			.enterprise__box-wrapper
				div
					.enterprise__box.enterprise__box-1
						div
							.enterprise__box-badge
								span Provision
						div
							p Pre-enroll devices or dynamically add users as they join your network. Deploy connectivity settings, push apps and content, or restrict usage.
				div
					.enterprise__box.enterprise__box-2
						div
							.enterprise__box-badge
								span Simplify
						div
							p Provision and deploy the required store and in-house developed apps according to enterprise distribution programs through our easy and hassle-free self-service portal.
				div
					.enterprise__box.enterprise__box-3
						div
							.enterprise__box-badge
								span Monitor
						div
							p Locate and track mobile devices anywhere in the world. Get real-time visibility on device health, security status, and hardware inventory for your entire fleet of devices.
				div
					.enterprise__box.enterprise__box-4
						div
							.enterprise__box-badge
								span Secure
						div
							p Ensure security compliance for your devices. Protect devices and data with encryption enforcement, remote lock, and wipe.

// SECTION :: END
