// SECTION :: START

section#main.main

		mixin swiperContent()
			.swiper-slide
				.main__slide
					.main__slide-img
						img(src="img/img-main-slide-1.jpg" srcset="img/img-main-slide-1@2x.jpg 2x" alt="")
					.main__slide-content
						p.main__slide-title Working remotely from home
						p.main__slide-desc The Corona crisis has changed everything but one this is certain. We are not where the office is. Remote working is no longer a one-off. So secure and mobile access to all apps and data with the devices of your choice is a must.
						a.main__slide-btn(href="#")
							span Get Started
			.swiper-slide
				.main__slide
					.main__slide-img
						img(src="img/img-main-slide-2.jpg" srcset="img/img-main-slide-2@2x.jpg 2x" alt="")
					.main__slide-content
						p.main__slide-title.main__slide-title--hidden Working remotely from home
						p.main__slide-desc A rich set of features built for one thing alone: To keep your business secure and data private.
						a.main__slide-btn(href="#")
							span Get Started
			.swiper-slide
				.main__slide
					.main__slide-img
						img(src="img/img-main-slide-3.jpg" srcset="img/img-main-slide-3@2x.jpg 2x" alt="")
					.main__slide-content
						p.main__slide-title.main__slide-title--hidden Working remotely from home
						p.main__slide-desc Centrally provision, monitor, and secure all mobile devices within your organization, while keeping your network aware of constantly changing devices.
						a.main__slide-btn(href="#")
							span Get Started

		+swiper('mainSlider', 'swiperContent', true, false, false)

// SECTION :: END
