// SECTION :: START

section#problem.problem
	.c-grid
		.problem__wrapper

			p.problem__title.c-title Problems We Solve

			.problem__box-wrapper
				.problem__box-col.problem__box-col-1
					.problem__box.problem__box-1
						i.icon-font.icon-quotes
						i.icon-font.icon-quotes
						p I want to manage all these device assets remotely
				.problem__box-col.problem__box-col-2
					.problem__box.problem__box-2
						i.icon-font.icon-quotes
						i.icon-font.icon-quotes
						p I want all my device assets monitored
				.problem__box-col.problem__box-col-3
					.problem__box.problem__box-3
						i.icon-font.icon-quotes
						i.icon-font.icon-quotes
						p How do I keep my employees productive in this new age of remote work
				.problem__box-col.problem__box-col-4
					.problem__box.problem__box-4
						i.icon-font.icon-quotes
						i.icon-font.icon-quotes
						p What can I do to protect my data when I lose a device or in case of theft
				.problem__box-col.problem__box-col-5
					.problem__box.problem__box-5
						i.icon-font.icon-quotes
						i.icon-font.icon-quotes
						p How do I get to manage my company's private apps and restrict them to my employees only.

// SECTION :: END
