// SECTION :: START

section#see.see
	.c-grid
		.see__wrapper
			.see__wrapper-left

				span.see__line.see__line-1
				span.see__line.see__line-2

				.see__content
					p.see__title.c-title See what Odyssey is capable of

					.see__btn.c-btn__wrapper
						a.c-btn(href="#")
							span Learn more
						a.c-btn(href="#")
							span Book A Demo

			.see__wrapper-right(see-videoNode-js)
				a.see__play(href="#homeVideo" data-effect="mfp-zoom-in" popup-js)
					i.icon-font.icon-play
					i.icon-font.icon-pause

// SECTION :: END
