// SECTION :: START

section#try.try
	.c-grid

		.try__title-wrapper
			div
				p.try__title.c-title Try Odyssey

				.try__line

		p.try__desc Please call us or enter your information, and we’ll be in touch with you shortly

		.try__wrapper
			.try__wrapper-left

				.try__text-content
					p.try__text There’s no charge to start the Odyssey journey. You’ll be up and running in a matter of minutes, and we have a dedicated evaluation support team ready to help you at every step of the way.
					p.try__text Write to us & together, we will tailor a solution for your needs

				.try__info
					div
						p.try__info-title Contact Number:
						a(href="#") XXXXXXXXXX
					div
						p.try__info-title Email:
						a(href="#") hello@datacultr.com

			.try__wrapper-right

				form.try__form(action='' method='' autocomplete='off')
					.try__form-field.try__form-field--input
						label(for='form-name') Your Name
						input(type='text' name='' id='form-name')
					.try__form-field.try__form-field--input
						label(for='form-phone') Your Phone
						input(type='text' name='' id='form-phone')
					.try__form-field.try__form-field--input
						label(for='form-email') Your Email
						input(type='email' name='' id='form-email')
					.try__form-field.try__form-field--btn
						.c-btn__wrapper
							a.c-btn(href="#")
								span get in touch

// SECTION :: END
