@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == browser_not_supported {
		$char: "\E001";
	}
	@if $filename == build {
		$char: "\E002";
	}
	@if $filename == build_circle {
		$char: "\E003";
	}
	@if $filename == campaign {
		$char: "\E004";
	}
	@if $filename == construction {
		$char: "\E005";
	}
	@if $filename == developer_board {
		$char: "\E006";
	}
	@if $filename == devices {
		$char: "\E007";
	}
	@if $filename == games {
		$char: "\E008";
	}
	@if $filename == linkedin {
		$char: "\E009";
	}
	@if $filename == pause {
		$char: "\E00A";
	}
	@if $filename == phonelink_lock {
		$char: "\E00B";
	}
	@if $filename == play {
		$char: "\E00C";
	}
	@if $filename == quotes {
		$char: "\E00D";
	}
	@if $filename == search {
		$char: "\E00E";
	}
	@if $filename == security {
		$char: "\E00F";
	}
	@if $filename == twitter {
		$char: "\E010";
	}
	@if $filename == warning {
		$char: "\E011";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-browser_not_supported {
	@include icon(browser_not_supported);

}
.icon-build {
	@include icon(build);

}
.icon-build_circle {
	@include icon(build_circle);

}
.icon-campaign {
	@include icon(campaign);

}
.icon-construction {
	@include icon(construction);

}
.icon-developer_board {
	@include icon(developer_board);

}
.icon-devices {
	@include icon(devices);

}
.icon-games {
	@include icon(games);

}
.icon-linkedin {
	@include icon(linkedin);

}
.icon-pause {
	@include icon(pause);

}
.icon-phonelink_lock {
	@include icon(phonelink_lock);

}
.icon-play {
	@include icon(play);

}
.icon-quotes {
	@include icon(quotes);

}
.icon-search {
	@include icon(search);

}
.icon-security {
	@include icon(security);

}
.icon-twitter {
	@include icon(twitter);

}
.icon-warning {
	@include icon(warning);

}